

<tr id="<%= dom_id friend %>">
    <td><%= friend.first_name %></td>
    <td><%= friend.last_name %></td>
    <td><%= friend.email %></td>
    <td><%= friend.phone %></td>
    <td><%= friend.github %></td>
    <td><button class="btn btn-info"><%= link_to "Show this friend", friend , class:"text-white" %></button></td>
</tr>
