<p style="color: green"><%= notice %></p>

<div class="jumbotron">
  <div class="d-flex justify-content-between">
    <h1 class="display-2"><%= @friend.first_name+" "+@friend.last_name %></h1>
    <img src="https://picsum.photos/150/150" style="border-radius: 50%" >
  </div>
  <p class="lead"></p>
  <hr class="my-4">
  <p><strong>Email : </strong><%= @friend.email %></p>
  <p><strong>Phone : </strong><%= @friend.phone %></p>
  <p><strong>Github : </strong><%= @friend.github %></p>
</div>

<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend) , class:"btn btn-secondary" %>
  <%= link_to "Back to friends", friends_path , class:"btn btn-secondary" %>

  <%= button_to "Destroy this friend", @friend, method: :delete , class:"btn btn-danger mt-4" %>
</div>
